// COLORS 
$dark-violet-color: rgba(18, 1, 39, 0.60);
$violet-color: #1E0044;
$yellow-color: #FDC949;
$white-color: #fff;
$black-color: #191919;
$blue-color: #1573FF;
$blure-bg-color:  rgba(68, 21, 255, 0.50);
$pink-color: #8836AE;
$green-color: #05F800;
$orange-color: #FF8562;


// FONTS 
$primary-font: 'Arial', sans-serif;

